* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: white;
}

.container {
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  background-image: url(./svg/illustration-header-mobile.svg);
  background-position: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 30%;
}

header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
}

.logo {
  align-self: flex-end;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding: 12px 12px 12px 24px;
}

nav {
  align-self: flex-end;
  padding: 12px 24px 12px 12px;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
  justify-content: center;
  gap: 12px;
}

h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  margin-top: 120px;
}

h2 {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: white;
}

.social-media {
  display: flex;
  gap: 22.3px;
  margin-bottom: 130px;
}

.social-media > li {
  list-style-type: none;
}

.work-section {
  display: grid;
  grid-template-columns: 100%;
}

.work-section > * {
  padding: 0 24px 0 24px;
}

.work-1 {
  display: flex;
  flex-direction: column;
}

.work1-visual {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.work1-visual > h1 {
  font-family: "Crete Round", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #1c1a19;
}

.line {
  border: 1px solid black;
  margin: 0 24px 56px 24px;
}

.work1-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.work1-content > h3 {
  margin-top: 24px;
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #091e42;
}

.work1-content > p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #091e42;
}

.work1-content > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  list-style: none;
}

.list1 {
  padding: 12px;
  text-align-last: center;
  border: 1px solid black;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #091e42;
}

.work1-button {
  padding-top: 10px;
  background-color: #ff6b00;
  grid-column: 1 / span 2;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: white;
}

.work1-button :hover {
  padding-top: 10px;
  background-color: #fff5e1;
  color: #ff6b00;
}

.work-2 {
  margin-top: 24px;
  background: url(./svg/ImgPlaceholder1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.work-2 > * {
  padding: 0 16px 0 16px;
}

.work2-content {
  display: flex;
  flex-direction: column;
}

.work2-content > h1 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: white;
}

.work2-content > p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.work2-content > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  list-style: none;
  align-items: center;
}

.list2 {
  background-color: #ffffff3d;
  text-align-last: center;
  color: white;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.work2-button p {
  height: 50px;
}

.work2-button {
  border: #ff6b00;
  margin: 0 -16px 0 -16px;
  background-color: #ff6b00;
  margin-top: 22px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  justify-self: center;
}

.work2-button :hover {
  background-color: #fff5e1;
  color: #ff6b00;
}

.about-me-section {
  background-color: #1c1a19;
  margin-top: 120px;
  padding: 0 24px 0 24px;
}

.about-me-1 {
  background: url(./svg/illustration-about-me-mobile.svg);
  background-position: right 0 top 340px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 211px;
}

.about-me1-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-me1-content > h1 {
  font-family: "Crete Round", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.about-me1-content > p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.about-me1-content > button {
  padding-top: 12px;
  width: 161px;
  background-color: #ff6b00;
  border-color: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.button :hover {
  background-color: #fff5e1;
  color: #ff6b00;
}

.line2 {
  width: 327px;
  border: 1px solid white;
}

.about-me-2 {
  display: grid;
  margin-top: 128px;
  justify-content: center;
  gap: 44px;
}

.about-me-2 .topic {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.discussion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-2 .topic > p {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.about-me-2 ul > li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 43px;
  color: white;
  list-style-type: none;
}
